.button1 {
  width: var(--button-chevron-width);
  height: var(--button-chevron-height);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--button-background);
  border: none;
  border-radius: 5px;

  box-shadow: 3px 3px 6px var(--primary-box-shadow),
    -3px -3px 6px var(--secondary-box-shadow);
}

.chevronRight-top {
  background-color: var(--button-chevron);
  height: 51%;
  width: 8px;
  transform: skew(5deg);
}
.chevronRight-bottom {
  background-color: var(--button-chevron);
  height: 51%;
  width: 8px;
  transform: skew(-5deg);
}

.chevronLeft-top {
  background-color: var(--button-chevron);
  height: 51%;
  width: 8px;
  transform: skew(-5deg);
}
.chevronLeft-bottom {
  background-color: var(--button-chevron);
  height: 51%;
  width: 8px;
  transform: skew(5deg);
}
.button1:active {
  box-shadow: 2px 2px 4px var(--primary-box-shadow),
    -2px -2px 4px var(--secondary-box-shadow);
    background-color: #383739;
}

/* styles for the sliders */
.slider {
  opacity: 0;
}
.slider-span {
  box-sizing: border-box;
  background: var(--primary-text);
  opacity: .3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.slider-label {
  margin: 8px;
  width: 50px;
  height: 30px;
  border-radius: 20px;
  position: relative;
  display: inline-block;
  box-shadow: 2px 2px 4px var(--primary-box-shadow), -2px -2px 4px var(--secondary-box-shadow);
}
.slider + .slider-span {
  transition: transform .3s ease-in-out;
}
.slider:checked + .slider-span {
  transform: translateX(20px);
  opacity: 1;
}